<h3><%= __('Post selection') %></h3>

<div class="mailpoet_form_field">
    <div class="mailpoet_form_field_title mailpoet_form_field_title_inline"><%= __('Show max:') %></div>
    <div class="mailpoet_form_field_input_option">
        <input type="text" class="mailpoet_input mailpoet_input_small mailpoet_automated_latest_content_show_amount" value="{{ model.amount }}" maxlength="2" size="2" />
        <select class="mailpoet_select mailpoet_select_large mailpoet_automated_latest_content_content_type">
            <option value="post" {{#ifCond model.contentType '==' 'post'}}SELECTED{{/ifCond}}><%= __('Posts') %></option>
            <option value="page" {{#ifCond model.contentType '==' 'page'}}SELECTED{{/ifCond}}><%= __('Pages') %></option>
            <option value="mailpoet_page" {{#ifCond model.contentType '==' 'mailpoet_page'}}SELECTED{{/ifCond}}><%= __('MailPoet pages') %></option>
        </select>
    </div>
</div>

<div class="mailpoet_form_field">
    <div class="mailpoet_form_field_select_option">
        <select class="mailpoet_select mailpoet_automated_latest_content_categories_and_tags" multiple="multiple">
          {{#each model.terms}}
            <option value="{{ id }}" selected="selected">{{ text }}</option>
          {{/each}}
        </select>
    </div>
    <div class="mailpoet_form_field_radio_option">
        <label>
            <input type="radio" name="mailpoet_automated_latest_content_include_or_exclude" class="mailpoet_automated_latest_content_include_or_exclude" value="include" {{#ifCond model.inclusionType '==' 'include'}}CHECKED{{/ifCond}}/>
            <%= __('Include') %>
        </label>
    </div>
    <div class="mailpoet_form_field_radio_option">
        <label>
            <input type="radio" name="mailpoet_automated_latest_content_include_or_exclude" class="mailpoet_automated_latest_content_include_or_exclude" value="exclude" {{#ifCond model.inclusionType '==' 'exclude'}}CHECKED{{/ifCond}} />
            <%= __('Exclude') %>
        </label>
    </div>
</div>

<hr class="mailpoet_separator" />


<div class="mailpoet_form_field">
    <a href="javascript:;" class="mailpoet_automated_latest_content_show_display_options"><%= __('Display options') %></a>
</div>
<div class="mailpoet_automated_latest_content_display_options mailpoet_closed">
    <div class="mailpoet_form_field">
        <a href="javascript:;" class="mailpoet_automated_latest_content_hide_display_options"><%= __('Hide display options') %></a>
    </div>

    <div class="mailpoet_form_field">
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_display_type" class="mailpoet_automated_latest_content_display_type" value="excerpt" {{#ifCond model.displayType '==' 'excerpt'}}CHECKED{{/ifCond}}/>
                <%= __('Excerpt') %>
            </label>
        </div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_display_type" class="mailpoet_automated_latest_content_display_type" value="full" {{#ifCond model.displayType '==' 'full'}}CHECKED{{/ifCond}}/>
                <%= __('Full post') %>
            </label>
        </div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_display_type" class="mailpoet_automated_latest_content_display_type" value="titleOnly" {{#ifCond model.displayType '==' 'titleOnly'}}CHECKED{{/ifCond}} />
                <%= __('Title only') %>
            </label>
        </div>
    </div>

    <div class="mailpoet_form_field">
        <div class="mailpoet_form_field_title"><%= __('Title Format') %></div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_title_format" class="mailpoet_automated_latest_content_title_format" value="h1" {{#ifCond model.titleFormat '==' 'h1'}}CHECKED{{/ifCond}}/>
                <%= __('Heading 1') %>
            </label>
        </div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_title_format" class="mailpoet_automated_latest_content_title_format" value="h2" {{#ifCond model.titleFormat '==' 'h2'}}CHECKED{{/ifCond}}/>
                <%= __('Heading 2') %>
            </label>
        </div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_title_format" class="mailpoet_automated_latest_content_title_format" value="h3" {{#ifCond model.titleFormat '==' 'h3'}}CHECKED{{/ifCond}}/>
                <%= __('Heading 3') %>
            </label>
        </div>
        <div class="mailpoet_form_field_radio_option mailpoet_automated_latest_content_title_as_list {{#ifCond model.displayType '!=' 'titleOnly'}}mailpoet_hidden{{/ifCond}}">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_title_format" class="mailpoet_automated_latest_content_title_format" value="ul" {{#ifCond model.titleFormat '==' 'ul'}}CHECKED{{/ifCond}}/>
                <%= __('Show as list') %>
            </label>
        </div>
    </div>

    <div class="mailpoet_form_field">
        <div class="mailpoet_form_field_title"><%= __('Title Alignment') %></div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_title_alignment" class="mailpoet_automated_latest_content_title_alignment" value="left" {{#ifCond model.titleAlignment '==' 'left'}}CHECKED{{/ifCond}} />
                <%= __('Left') %>
            </label>
        </div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_title_alignment" class="mailpoet_automated_latest_content_title_alignment" value="center" {{#ifCond model.titleAlignment '==' 'center'}}CHECKED{{/ifCond}} />
                <%= __('Center') %>
            </label>
        </div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_title_alignment" class="mailpoet_automated_latest_content_title_alignment" value="right" {{#ifCond model.titleAlignment '==' 'right'}}CHECKED{{/ifCond}} />
                <%= __('Right') %>
            </label>
        </div>
    </div>

    <div class="mailpoet_form_field mailpoet_automated_latest_content_title_as_link {{#ifCond model.titleFormat '===' 'ul'}}mailpoet_hidden{{/ifCond}}">
        <div class="mailpoet_form_field_title"><%= __('Title as links') %></div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_title_as_links" class="mailpoet_automated_latest_content_title_as_links" value="true" {{#if model.titleIsLink}}CHECKED{{/if}}/>
                <%= __('Yes') %>
            </label>
        </div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_title_as_links" class="mailpoet_automated_latest_content_title_as_links" value="false" {{#unless model.titleIsLink}}CHECKED{{/unless}}/>
                <%= __('No') %>
            </label>
        </div>
    </div>

    <hr class="mailpoet_separator mailpoet_automated_latest_content_image_separator {{#ifCond model.displayType '===' 'titleOnly'}}mailpoet_hidden{{/ifCond}}" />

    <div class="mailpoet_form_field mailpoet_automated_latest_content_featured_image_position_container {{#ifCond model.displayType '!==' 'excerpt'}}mailpoet_hidden{{/ifCond}}">
        <div class="mailpoet_form_field_title"><%= __('Featured image position') %></div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_featured_image_position" class="mailpoet_automated_latest_content_featured_image_position" value="belowTitle" {{#ifCond model.featuredImagePosition '==' 'belowTitle' }}CHECKED{{/ifCond}}/>
                <%= __('Below title') %>
            </label>
        </div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_featured_image_position" class="mailpoet_automated_latest_content_featured_image_position" value="aboveTitle" {{#ifCond model.featuredImagePosition '==' 'aboveTitle' }}CHECKED{{/ifCond}}/>
                <%= __('Above title') %>
            </label>
        </div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_featured_image_position" class="mailpoet_automated_latest_content_featured_image_position" value="none" {{#ifCond model.featuredImagePosition '==' 'none' }}CHECKED{{/ifCond}}/>
                <%= __('None') %>
            </label>
        </div>
    </div>

    <div class="mailpoet_automated_latest_content_non_title_list_options {{#ifCond model.displayType '==' 'titleOnly'}}{{#ifCond model.titleFormat '==' 'ul'}}mailpoet_hidden{{/ifCond}}{{/ifCond}}">
        <div class="mailpoet_form_field mailpoet_automated_latest_content_image_full_width_option {{#ifCond model.displayType '==' 'titleOnly'}}mailpoet_hidden{{/ifCond}}">
            <div class="mailpoet_form_field_title"><%= __('Image width') %></div>
            <div class="mailpoet_form_field_radio_option">
                <label>
                    <input type="radio" name="imageFullWidth" class="mailpoet_automated_latest_content_image_full_width" value="true" {{#if model.imageFullWidth}}CHECKED{{/if}}/>
                    <%= __('Full width') %>
                </label>
            </div>
            <div class="mailpoet_form_field_radio_option">
                <label>
                    <input type="radio" name="imageFullWidth" class="mailpoet_automated_latest_content_image_full_width" value="false" {{#unless model.imageFullWidth}}CHECKED{{/unless}}/>
                    <%= __('Padded') %>
                </label>
            </div>
        </div>

        <hr class="mailpoet_separator" />

        <div class="mailpoet_form_field">
            <div class="mailpoet_form_field_title"><%= __('Show author') %></div>
            <div class="mailpoet_form_field_radio_option">
                <label>
                    <input type="radio" name="mailpoet_automated_latest_content_show_author" class="mailpoet_automated_latest_content_show_author" value="no" {{#ifCond model.showAuthor '==' 'no'}}CHECKED{{/ifCond}}/>
                    <%= __('No') %>
                </label>
            </div>
            <div class="mailpoet_form_field_radio_option">
                <label>
                    <input type="radio" name="mailpoet_automated_latest_content_show_author" class="mailpoet_automated_latest_content_show_author" value="aboveText" {{#ifCond model.showAuthor '==' 'aboveText'}}CHECKED{{/ifCond}}/>
                    <%= __('Above text') %>
                </label>
            </div>
            <div class="mailpoet_form_field_radio_option">
                <label>
                    <input type="radio" name="mailpoet_automated_latest_content_show_author" class="mailpoet_automated_latest_content_show_author" value="belowText" {{#ifCond model.showAuthor '==' 'belowText'}}CHECKED{{/ifCond}}/>
                    <%= __('Below text') %><br />
                </label>
            </div>
            <div class="mailpoet_form_field_title mailpoet_form_field_title_small"><%= __('Preceded by:') %></div>
            <div class="mailpoet_form_field_input_option mailpoet_form_field_block">
                <input type="text" class="mailpoet_input mailpoet_input_full mailpoet_automated_latest_content_author_preceded_by" value="{{ model.authorPrecededBy }}" />
            </div>
        </div>

        <div class="mailpoet_form_field">
            <div class="mailpoet_form_field_title"><%= __('Show categories') %></div>
            <div class="mailpoet_form_field_radio_option">
                <label>
                    <input type="radio" name="mailpoet_automated_latest_content_show_categories" class="mailpoet_automated_latest_content_show_categories" value="no" {{#ifCond model.showCategories '==' 'no'}}CHECKED{{/ifCond}}/>
                    <%= __('No') %>
                </label>
            </div>
            <div class="mailpoet_form_field_radio_option">
                <label>
                    <input type="radio" name="mailpoet_automated_latest_content_show_categories" class="mailpoet_automated_latest_content_show_categories" value="aboveText" {{#ifCond model.showCategories '==' 'aboveText'}}CHECKED{{/ifCond}}/>
                    <%= __('Above text') %>
                </label>
            </div>
            <div class="mailpoet_form_field_radio_option">
                <label>
                    <input type="radio" name="mailpoet_automated_latest_content_show_categories" class="mailpoet_automated_latest_content_show_categories" value="belowText" {{#ifCond model.showCategories '==' 'belowText'}}CHECKED{{/ifCond}}/>
                    <%= __('Below text') %>
                </label>
            </div>
            <div class="mailpoet_form_field_title mailpoet_form_field_title_small"><%= __('Preceded by:') %></div>
            <div class="mailpoet_form_field_input_option mailpoet_form_field_block">
                <input type="text" class="mailpoet_input mailpoet_input_full mailpoet_automated_latest_content_categories" value="{{ model.categoriesPrecededBy }}" />
            </div>
        </div>

        <hr class="mailpoet_separator" />

        <div class="mailpoet_form_field">
            <div class="mailpoet_form_field_title mailpoet_form_field_title_small"><%= __('"Read more" text') %></div>
            <div class="mailpoet_form_field_radio_option">
                <label>
                    <input type="radio" name="mailpoet_automated_latest_content_read_more_type" class="mailpoet_automated_latest_content_read_more_type" value="link" {{#ifCond model.readMoreType '==' 'link'}}CHECKED{{/ifCond}}/>
                    <%= __('Link') %>
                </label>
            </div>
            <div class="mailpoet_form_field_radio_option">
                <label>
                    <input type="radio" name="mailpoet_automated_latest_content_read_more_type" class="mailpoet_automated_latest_content_read_more_type" value="button" {{#ifCond model.readMoreType '==' 'button'}}CHECKED{{/ifCond}}/>
                    <%= __('Button') %>
                </label>
            </div>

            <div class="mailpoet_form_field_input_option mailpoet_form_field_block">
                <input type="text" class="mailpoet_input mailpoet_input_full mailpoet_automated_latest_content_read_more_text {{#ifCond model.readMoreType '!=' 'link'}}mailpoet_hidden{{/ifCond}}" value="{{ model.readMoreText }}" />
            </div>

            <div class="mailpoet_form_field_input_option mailpoet_form_field_block">
                <a href="javascript:;" class="mailpoet_automated_latest_content_select_button {{#ifCond model.readMoreType '!=' 'button'}}mailpoet_hidden{{/ifCond}}"><%= __('Design a button') %></a>
            </div>
        </div>

        <hr class="mailpoet_separator" />
    </div>

    <div class="mailpoet_form_field">
        <div class="mailpoet_form_field_title mailpoet_form_field_title_small"><%= __('Sort by') %></div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_sort_by" class="mailpoet_automated_latest_content_sort_by" value="newest" {{#ifCond model.sortBy '==' 'newest'}}CHECKED{{/ifCond}}/>
                <%= __('Newest') %>
            </label>
        </div>
        <div class="mailpoet_form_field_radio_option">
            <label>
                <input type="radio" name="mailpoet_automated_latest_content_sort_by" class="mailpoet_automated_latest_content_sort_by" value="oldest" {{#ifCond model.sortBy '==' 'oldest'}}CHECKED{{/ifCond}}/>
                <%= __('Oldest') %>
            </label>
        </div>
    </div>

    <div class="mailpoet_automated_latest_content_non_title_list_options {{#ifCond model.displayType '==' 'titleOnly'}}{{#ifCond model.titleFormat '==' 'ul'}}mailpoet_hidden{{/ifCond}}{{/ifCond}}">
        <div class="mailpoet_form_field">
            <div class="mailpoet_form_field_title mailpoet_form_field_title_small"><%= __('Show divider between posts') %></div>
            <div class="mailpoet_form_field_radio_option">
                <label>
            <input type="radio" name="mailpoet_automated_latest_content_show_divider"class="mailpoet_automated_latest_content_show_divider" value="true" {{#if model.showDivider}}CHECKED{{/if}}/>
                    <%= __('Yes') %>
                </label>
            </div>
            <div class="mailpoet_form_field_radio_option">
                <label>
                    <input type="radio" name="mailpoet_automated_latest_content_show_divider"class="mailpoet_automated_latest_content_show_divider" value="false" {{#unless model.showDivider}}CHECKED{{/unless}}/>
                    <%= __('No') %>
                </label>
            </div>
            <div>
                <a href="javascript:;" class="mailpoet_automated_latest_content_select_divider"><%= __('Select divider') %></a>
            </div>
        </div>

    </div>
</div>

<div class="mailpoet_form_field">
    <input type="button" class="button button-primary mailpoet_done_editing" value="<%= __('Done') | escape('html_attr') %>" />
</div>

