<div class="mailpoet_tools"></div>
<div class="mailpoet_content" data-automation-id="divider" style="padding: {{ model.styles.block.padding }} 0; background-color: {{ model.styles.block.backgroundColor }};">
    <div class="mailpoet_divider" style="border-top-width: {{ model.styles.block.borderWidth }}; border-top-style: {{ model.styles.block.borderStyle }}; border-top-color: {{ model.styles.block.borderColor }};"></div>
    <div class="mailpoet_resize_handle_container">
        <div class="mailpoet_resize_handle" data-automation-id="divider_resize_handle">
            <span class="mailpoet_resize_handle_text">{{ totalHeight }}</span>
            <span class="mailpoet_resize_handle_icon"><%= source('newsletter/templates/svg/block-icons/spacer.svg') %></span>
        </div>
    </div>
</div>
<div class="mailpoet_block_highlight"></div>
