{{#if isWoocommerceTransactional}}
  <h1><%= _x('Edit template for WooCommerce emails', 'Name of user interface used to customize email template used for eCommerce related emails (for example order confirmation email)') %></h1>
  <p class="mailpoet_heading_wc_template_description"><%= __('This email template will be used for all your WooCommerce emails. Meaning that any content added to this template will be visible in all WooCommerce emails. If you want to change email-specific content including titles, [link]visit WooCommerce settings[/link].')|replaceLinkTags('?page=wc-settings&tab=email', {'target': '_blank'})|raw %></p>
  <div class="mailpoet_form_field mailpoet_heading_form_field">
    <label for="mailpoet_heading_email_type"><%= _x('Load dummy data for email:', 'Label of a dropdown used to switch between email type: order processing, order completed, ...') %></label>
    <select id="mailpoet_heading_email_type">
      <option value="new_account"><%= __('New account', 'woocommerce') %></option>
      <option value="processing_order"><%= __('Processing order', 'woocommerce') %></option>
      <option value="completed_order" selected="selected"><%= __('Completed order', 'woocommerce') %></option>
      <option value="customer_note"><%= __('Customer note', 'woocommerce') %></option>
    </select>
  </div>
{{else if isAutomationEmail}}

{{else if isConfirmationEmailTemplate}}
  <h3><%= _x('Edit template for Confirmation emails', 'Name of user interface used to customize email template used for confirmation emails') %></h3>
  <div class="mailpoet_form_field mailpoet_heading_form_field">
    <input
      type="text"
      class="mailpoet_input mailpoet_input_title"
      data-automation-id="newsletter_title"
      value="{{ model.subject }}"
      placeholder="<%= __('Click here to change the subject!') %>"
    />
    <span id="tooltip-designer-subject-line" class="tooltip-help-designer-subject-line"></span>
  </div>
{{else}}
<div class="mailpoet_form_field mailpoet_heading_form_field">
  <input
    type="text"
    class="mailpoet_input mailpoet_input_title"
    data-automation-id="newsletter_title"
    value="{{ model.subject }}"
    placeholder="<%= __('Click here to change the subject!') %>"
  />
  <span id="tooltip-designer-subject-line" class="tooltip-help-designer-subject-line"></span>
</div>
<div class="mailpoet_form_field mailpoet_heading_form_field">
  <input type="text"
    class="mailpoet_input mailpoet_input_preheader"
    value="{{ model.preheader }}"
    placeholder="<%= __('Preview text (usually displayed underneath the subject line in the inbox)') %>"
    maxlength="250"
  />
  <span id="tooltip-designer-preheader" class="tooltip-help-designer-preheader"></span>
</div>
{{/if}}
