<h3><%= __('Footer') %></h3>
<div class="mailpoet_form_field mailpoet_form_narrow_select2">
    <div class="mailpoet_form_field_title"><%= __('Text') %></div>
    <div class="mailpoet_form_field_input_option mailpoet_form_field_input_nowrap">
        <input type="text" name="font-color" id="mailpoet_field_footer_text_color" class="mailpoet_field_footer_text_color mailpoet_color" value="{{ model.styles.text.fontColor }}" />
        <select id="mailpoet_field_footer_text_font_family" name="font-family" class="mailpoet_select mailpoet_select_medium mailpoet_field_footer_text_font_family mailpoet_font_family">
        <optgroup label="<%= __('Standard fonts')%>">
        {{#each availableStyles.fonts.standard}}
            <option value="{{ this }}" {{#ifCond this '==' ../model.styles.text.fontFamily}}SELECTED{{/ifCond}}>{{ this }}</option>
        {{/each}}
        </optgroup>
        <optgroup label="<%= __('Custom fonts')%>">
        {{#each availableStyles.fonts.custom}}
            <option value="{{ this }}" {{#ifCond this '==' ../model.styles.text.fontFamily}}SELECTED{{/ifCond}}>{{ this }}</option>
        {{/each}}
        </optgroup>
        </select>
        <select id="mailpoet_field_footer_text_size" name="font-size" class="mailpoet_select mailpoet_select_small mailpoet_field_footer_text_size mailpoet_font_size">
        {{#each availableStyles.textSizes}}
            <option value="{{ this }}" {{#ifCond this '==' ../model.styles.text.fontSize}}SELECTED{{/ifCond}}>{{ this }}</option>
        {{/each}}
        </select>
    </div>
</div>
<div class="mailpoet_form_field">
    <div class="mailpoet_form_field_input_option">
        <input type="text" class="mailpoet_color" size="6" maxlength="6" name="link-color" value="{{ model.styles.link.fontColor }}" id="mailpoet_field_footer_link_color" />
    </div>
    <div class="mailpoet_form_field_title mailpoet_form_field_title_inline"><%= __('Links') %></div>
    <label>
        <div class="mailpoet_form_field_checkbox_option mailpoet_option_offset_left_small">
            <input type="checkbox" name="underline" value="underline" id="mailpoet_field_footer_link_underline" {{#ifCond model.styles.link.textDecoration '==' 'underline'}}CHECKED{{/ifCond}}/> <%= __('Underline') %>
        </div>
    </label>
</div>

<div class="mailpoet_form_field">
    <div class="mailpoet_form_field_input_option">
        <input type="text" name="background-color" class="mailpoet_field_footer_background_color mailpoet_color" value="{{ model.styles.block.backgroundColor }}" />
    </div>
    <div class="mailpoet_form_field_title mailpoet_form_field_title_inline"><%= __('Background') %></div>
</div>

<div class="mailpoet_form_field">
    <div class="mailpoet_form_field_radio_option">
        <label>
        <input type="radio" name="alignment" class="mailpoet_field_footer_alignment" value="left" {{#ifCond model.styles.text.textAlign '===' 'left'}}CHECKED{{/ifCond}}/>
        <%= __('Left') %>
        </label>
    </div>
    <div class="mailpoet_form_field_radio_option">
        <label>
            <input type="radio" name="alignment" class="mailpoet_field_footer_alignment" value="center" {{#ifCond model.styles.text.textAlign '===' 'center'}}CHECKED{{/ifCond}}/>
            <%= __('Center') %>
        </label>
    </div>
    <div class="mailpoet_form_field_radio_option">
        <label>
            <input type="radio" name="alignment" class="mailpoet_field_footer_alignment" value="right" {{#ifCond model.styles.text.textAlign '===' 'right'}}CHECKED{{/ifCond}}/>
            <%= __('Right') %>
        </label>
    </div>
</div>

<div class="mailpoet_form_field">
    <input type="button" class="button button-primary mailpoet_done_editing" data-automation-id="footer_done_button" value="<%= __('Done') | escape('html_attr') %>" />
</div>

<div class="mailpoet_form_field">
  <p class="mailpoet_settings_notice"><%= __('If an email client [link]does not support a custom web font[/link], a similar standard font will be used instead.')|replaceLinkTags('https://kb.mailpoet.com/article/176-which-fonts-can-be-used-in-mailpoet#custom-web-fonts', {'target' : '_blank'})|raw %></p>
</div>

<script type="text/javascript">
    fontsSelect('#mailpoet_field_footer_text_font_family');
</script>
